.submit-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    font-size: 1.125rem;
  }

  .status-submit {
    font-size: 0.875rem;
  }
}

.assignment-submit-button {
  display: flex;
  flex-direction: column;

  .list-assignment-images {
    display: flex;
  }

  button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    border-radius: 0.25rem;
  }

  .ant-upload {
    width: 100%;
  }
}

.file-display-wrapper {
  margin: 0.25rem;

  img {
    height: 50px;
  }
}
