.divider {
  border-right: 2px solid #dedede;
}

.coming-up {
  padding: 0.5rem 1rem;
}

.list-assignment {
  padding: 0.5rem;
}

.assignment-wrapper {
  border-radius: 0.5rem;
  border: 0.0625rem solid #dadce0;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;

  &:hover {
    background-color: #e8f0fe;
    cursor: pointer;
  }
}

.assignment-title-wrapper {
  flex-basis: 80%;
  display: flex;
  justify-content: space-between;
}

.date-title {
  display: flex;
  flex-direction: column;
}
