.add-exam-item {
  margin-bottom: 1rem;
}

.add-exam-item__label {
  padding: 12px 0;
  font-weight: 500;
  font-size: 1rem;
}

.add-exam-item__files {
  display: flex;
}

.btn-add-exam {
  margin-bottom: 1rem;
}

.ant-select-multiple .ant-select-selection-item-remove {
  display: flex;
  align-items: center;
}

.admin-grade {
  border: 1px solid #f0f0f0;
  margin-top: 1rem;
  background-color: #fff;
  padding: 1rem;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.hr {
  border-bottom: 1px solid #dedede;
  margin: 1.5rem 0 1rem 0;
}
