.modal-item {
  margin-bottom: 1rem;
}

.modal-item__answer {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.modal-item__input {
  // margin-right: 1rem;
}

.modal-item__main {
  & > div {
    display: flex;
    width: 100%;
  }
}
